/* === LOGIN CESFAM SANTA ROSA === */
    body.login .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    }

body.login .login-container {
    max-width: 420px;
    margin: 4rem auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 16px;
    box-shadow: var(--shadow);
    text-align: center;
}

body.login .login-container h2 {
    color: var(--navy);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

body.login .login-container p {
    color: var(--muted);
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

/* Formulario */
body.login .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

/* Campos */
body.login .login-form input[type="text"],
body.login .login-form input[type="password"] {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 1px solid #d6e3f5;
    background-color: #f9fafb;
    font-size: 1rem;
    color: var(--text);
    transition: all 0.2s ease;
}

body.login .login-form input:focus {
    border-color: var(--green-500);
    box-shadow: 0 0 0 2px rgba(46, 139, 87, 0.2);
    outline: none;
}

/* Botón */
body.login .login-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 0.75rem;
    padding: 0.8rem 1rem;

    background:#059020  !important;   /* verde */
    color: #ffffff !important;        /* texto blanco */

    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

body.login .login-btn:hover {
    background: #08bd26 !important;   /* un poco más oscuro al hover */
    transform: translateY(-2px);
    filter: brightness(1.05);
}

/* Mensajes de error */
body.login  .form-error {
    color: #d00;
    background: #ffe5e5;
    padding: 0.6rem;
    border-radius: 8px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
}

body.login .site-footer {
    background: none;
    border: none;
    height: 0;
    overflow: hidden;
    padding: 0;
}
