{% load static %}
<footer class="site-footer">
    <div class="footer-info">
        <h4>CESFAM Santa Rosa</h4>
        <p>Centro de Salud Familiar<br>
        Av. Pircunche 0316<br>
        Temuco, Región de La Araucanía – Chile<br>
        Teléfono: <a href="tel:+569XXXXXXXX">+56 453244400</a></a><br>
        Email: <a href="mailto:contacto@cesfamsantarosa.cl"> sda.santarosa@temuco.cl</a></p>

        <div class="footer-social">
        <a href="https://facebook.com/cesfamsantarosa" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/cesfamsantarosatemuco/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://saludtemuco.cl/cesfam-santa-rosa/" target="_blank"><i class="fa-solid fa-globe"></i></a>
        <a href="{#{% url 'manual' %}#}"><i class="fa-solid fa-book"></i></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; {% now "Y" %} CESFAM Santa Rosa — Intranet | Todos los derechos reservados</p>
    </div>
</footer>
