{% load static %}
<header class="site-header">
    <div class="header-container">
        <!-- Logo -->
        <div class="logo-section">
        <img src="{% static 'assets/images/cesfam.png' %}" alt="Logo CESFAM" class="logo-img">
        <div class="logo-text">
            <h1>Intranet CESFAM Santa Rosa</h1>
            <p>Temuco, Chile</p>
        </div>
        </div>

        <!-- Solo botón Iniciar Sesión -->
        <nav class="main-nav">
        <a href="{% url 'login' %}" class="btn-login-nav">
            <i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión
        </a>
        </nav>
    </div>
</header>
